@model LoginViewModel
<div>
    <h3>Login to Account</h3>
    <h1>Enter your data</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for ="Name"></label>
                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label >RememberMe</label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
                <input type="submit" value="Enter" />
            </div>
        </form>
        <label>Логин:</label><br />
    <input type="text" name="UserName" /><br /><br />
    <label>Пароль:</label><br />
    <input type="text" name="Password" /><br /><br />
    <input type="submit" value="Отправить" />
    </div>
</div>